<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Employee Official Details</title>
  {% load static %}
  {% include 'access/static.html' %}
  <link rel="stylesheet" href="{% static 'css/master_style.css' %}">
  <script src="{% static 'js/master_header_link.js' %}"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
 
  <style>
    
    .header-cool{
      background-image: linear-gradient(to bottom, #3aafbb, #42b3c6, #4cb7d0, #58bbda, #65bfe3, #67c5e9, #6acbf0, #6cd1f6, #65dafa, #5fe3fc, #5decfc, #5ff5fb);
    }
    .title {
      text-decoration: underline;
      color: red;
    }
    nav {
      color: #000;
    }

    nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    nav ul li {
      display: inline-block;
    }

    nav ul li a {
      width: 100%;
      display: block;
      color: #333;
      text-decoration: none;
      padding: 10px;
    }

    .title {
      text-decoration: underline;
      color: red;
    }

    span.look {
      color: brown;
    }
    
    .logout-icon{
      float: right;
    }

    span.look {
      color: brown;
    }

    .offic_active {
      font-weight: 600;
      cursor: default;
    }

    .cancel {
      margin-left: 250px;
    }

    .right-btn {
      text-align: right;
    }

    .right-div {
      text-align: right;
    }

    .left-div {
      text-align: left;
    }

    .title {
      text-decoration: underline;
      color: red;
    }

    span.look {
      color: brown;
    }

    .perso_active {
      font-weight: 600;
      cursor: default;
    }

    .messages,
    li {
      list-style-type: none;
      padding: 5px;
    }

    .success {
      text-align: center;
      font-weight: 450;
      background-color: #dff0d8;
      color: #3C767D;
    }

    .cancel {
      margin-left: 40%;
    }
  </style>
</head>

<body>
  

  <div class="container-fluid header-cool mb-2">
    <div class="container">
      <h1 class="title text-center">RED<span class="look">Looks</span> Organisations</h1>
    <nav class="header">
      <ul class="nav-link">
        <li><a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown">Admin</a>
          <ul class="dropdown-menu">
            <li><a class="nav-items" href="/admin_board">Dashboard</a></li><br>
            <li><a class="nav-items" href="/users_list">User Creation</a></li><br>
            <li><a class="nav-items" href="/signin">Login</a></li><br>
          </ul>
        </li>
        <li><a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown">Master</a>
          <ul class="dropdown-menu">
            <li><a class="nav-items" href="/master">Customer Creation</a></li><br>
            <li><a class="nav-items" href="/type_create">Item Creation</a></li><br>
          </ul>
        </li>
        <li><a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown">Entry</a>
          <ul class="dropdown-menu">
            <li><a class="nav-link" href="/sales_home">Sales Entry</a></li>  
          </ul>
        </li>
        <li class="logout-icon" style="text-align: center;"><a class="nav-link " href="/signin" role="button">
          <span class="material-symbols-outlined">
          Logout</span></a>
        </li>
      </ul>
    </nav>
  </div>
  
</div>
  <div class="left-div">
    <a href="/master"><button class="btn btn-dark m-3"> Back </button></a>
  </div>
  <div class="container-fluid">
    <nav>
      <ul class="nav-links">
        <li><a href="#" class="nav-items offic_active">Customer Details Creation</a></li>
      </ul>
    </nav>
  </div>

  {% if messages %}
  <div id="message-box" class="alert">
    <ul class="messages">
      {% for message in messages %}
      <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  <div class="container-fluid">
    <div class="main-form">
      <form id="myForm" action="" method="POST" enctype="multipart/form-data" autocomplete="off">
        {% csrf_token %}

        <div id="form_1" style="display: block;">

          <h4 class="sub_title" style="color:#272343;">Official Details</h4>
          <div class="row">
            <div class="col-md-6">
              <div class="form-items">
                <label class="emp_name" for="">Customer Name</label>
                <select name="emp_gender" class="gender" id="emp_gender">
                  <option value="">Select</option>
                  {% for gen in gender %}
                  <option value="{{gen}}">{{ gen }}</option>
                  {% endfor %}
                </select>
                <input type="text" name="offici_emp_name" id="offic_emp_name" class="form-control"
                  placeholder="Employee Name" />
              </div>
              <div class="form-items">
                <label for="">Date of join</label>
                <input name="join_date" type="date" id="doj" class="form-control" max="{% now 'Y-m-d' %}"
                  value="{% now 'Y-m-d' %}">
              </div>
              <div class="form-items">
                <label for="">Designation</label>
                <input type="text" id="role" name="role" class="form-control" placeholder="Designation" />
              </div>
              <br>
              <div class="form-items">
                <label class="site-name" for="">Company Name</label>
                <select name="site_name" class="form-select" id="site_name">
                  <option value="">Select</option>
                  {% for site in site_names %}
                  <option value="{{site}}">{{ site }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-items">
                <label class="gst" for="">GST</label>
                <input type="text" name="gst" id="gst" class="form-control"
                  placeholder="" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-items">
                <label class="emp-cate" for="">Employee Category</label>
                <select name="emp_cate" class="form-select" id="emp_cate">
                  <option value="">Select</option>
                  {% for category in employee_categories %}
                  <option value="{{ category }}">{{ category }}</option>
                  {% endfor %}
                </select>
              </div>

              <div class="form-items">
                <label class="emp-bio" for="">Bio Matric ID</label>
                <input type="text" class="form-control" name="bio_id" value="{{ bio_id }}" readonly>
              </div>
              <div class="form-items">
                <label class="emp_staff_hd" for="">Staff Head</label>
                <select name="emp_staff_hd" class="form-select" id="emp_head">
                  <option value="">Select</option>
                  {% for headof in head %}
                  <option value="{{ headof }}">{{ headof }}</option>
                  {% endfor %}
                </select>
              </div>

              <div class="form-items">
                <label class="emp_skill" for="">Skill</label>
                <select name="emp_skill" class="form-select" id="emp_skill" multiple>
                  {% for skillset in skill %}
                  <option value="{{ skillset }}">{{ skillset }}</option>
                  {% endfor %}
                </select>
              </div>
              <script>
                var loadFile = function (event) {
                  var output = document.getElementById('output');
                  output.src = URL.createObjectURL(event.target.files[0]);
                  output.onload = function () {
                    URL.revokeObjectURL(output.src) // free memory
                  }
                };
              </script>
              <div class="form-items">
                <label class="emp_photo" for="">Employee Photo</label>
                <input type="file" accept="image/*" onchange="loadFile(event)" name="emp_photos" class="form-control"
                  id="emp_photos" value="{{ data.emp_img }}" />
              </div>
              <div class="show_photo" style="margin-left: 45%;"><img id="output" width="100" height="100"></div>


            </div>
          </div>
        </div>
        <div id="form_2" style="display: block;">
          <div class="sub-form">
            <h4 class="sub_title" style="color:#272343;">Personal Details</h4>
            <div class="form-items">
              <label class="emp_status" for="">Martial Status</label>
              <select name="emp_status" class="form-select" id="emp_status">
                <option value="">Select</option>
                {% for status in m_status %}
                <option value="{{status}}">{{ status }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-items">
                  <label for="">DOB</label>
                  <input name="dob" type="date" id="dob" class="form-control" max="{% now 'Y-m-d' %}"
                    value="{% now 'Y-m-d' %}">
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-items">
                  <label for="">Age</label>
                  <input type="text" name="emp_age" id="emp_age" class="form-control" value="{{age}}" placeholder="" />
                </div>
              </div>
              <div class="col-sm-4">
                <!-- Empty field -->
              </div>
            </div>

            <div class="row">
              <div class="col-sm-4">
                <div class="form-items">
                  <label class="emp_blood" for="">Blood Group</label>
                  <select name="emp_blood" class="form-select" id="emp_blood">
                    <option value="">Select</option>
                    {% for grp in blood_grp %}
                    <option value="{{grp}}">{{ grp }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-items">
                  <label class="gender" for="">Gender</label>
                  <select name="gender" class="gender" id="gender">
                    <option value="">Select</option>
                    {% for gen in full_gender %}
                    <option value="{{gen}}">{{ gen }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>

              <div class="col-sm-4">
                <div class="form-outline">
                  <label for="" class="textarea-lable">Extra Curricular Activities</label>
                  <textarea name="emp_act" class="form-control" id="emp_act" rows="1"></textarea>
                </div>
              </div>
            </div>
            <div class="form-items">
              <label class="emp_pys" for="">Disabilities</label>
              <select name="emp_pys" class="form-select" id="emp_pys">
                <option value="">Select</option>
                {% for physical in emp_physical %}
                <option value="{{physical}}">{{ physical }}</option>
                {% endfor %}
              </select>
            </div>
            <br>
            <div class="container-below">
              <div class="row">
                <div class="col-sm-6">
                  <div class="title">Present Address Details</div>
                  <div class="form-items">
                    <label class="emp_countrys" for="">Country</label>
                    <select name="emp_countrys" class="form-select" id="emp_countrys">
                      <option value="">Select</option>
                      {% for country in countrys %}
                      <option value="{{country}}">{{ country }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="form-items">
                    <label class="emp_states" for="">State</label>
                    <select name="emp_states" class="form-select" id="emp_states">
                      <option value="">Select</option>
                      {% for state in states %}
                      <option value="{{state}}">{{ state }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="form-items">
                    <label class="emp_district" for="">District</label>
                    <select name="emp_district" class="form-select" id="emp_district">
                      <option value="">Select</option>
                      {% for district in districts %}
                      <option value="{{district}}">{{ district }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="form-items">
                    <label for="">Building No</label>
                    <input type="text" name="emp_bild" id="emp_bild" class="form-control" value="" placeholder="" />
                  </div>
                  <div class="form-outline">
                    <label for="" class="textarea-lable">Street</label>
                    <textarea name="emp_street" class="form-control" id="emp_street" rows="2"></textarea>
                  </div>
                  <div class="form-outline">
                    <label for="" class="textarea-lable">Area</label>
                    <textarea name="emp_area" class="form-control" id="emp_area" cols="10" rows="2"></textarea>
                  </div>
                  <div class="form-items">
                    <label for="">Pincode</label>
                    <input name="emp_pin" type="text" name="emp_pin" id="emp_pin" class="form-control" value=""
                      placeholder="" />
                  </div>
                  <div class="form-check" style="margin-left: 40%;">
                    <input class="form-check-input" type="checkbox" id="same" value="" onchange="sameAddress()" />
                    <label class="form-check-label" for="flexCheckChecked">Same Address</label>
                  </div>

                </div>
                <div class="col-sm-6">
                  <div class="title">Permanent Address Details</div>
                  <div class="form-items">
                    <label class="emp_p_countrys" for="">Country</label>
                    <select name="emp_p_countrys" class="form-select" id="emp_p_countrys">
                      <option value="">Select</option>
                      {% for country in countrys %}
                      <option value="{{country}}">{{ country }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="form-items">
                    <label class="emp_p_states" for="">State</label>
                    <select name="emp_p_states" class="form-select" id="emp_p_states">
                      <option value="">Select</option>
                      {% for state in states %}
                      <option value="{{state}}">{{ state }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="form-items">
                    <label class="emp_p_districts" for="">District</label>
                    <select name="emp_p_districts" class="form-select" id="emp_p_districts">
                      <option value="">Select</option>
                      {% for district in districts %}
                      <option value="{{district}}">{{ district }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="form-items">
                    <label for="">Building No</label>
                    <input name="emp_p_bild" type="text" name="emp_bild" id="emp_p_bild" class="form-control" value=""
                      placeholder="" />
                  </div>
                  <div class="form-outline">
                    <label for="" class="textarea-lable">Street</label>
                    <textarea name="emp_p_street" class="form-control" id="emp_p_street" rows="2"></textarea>
                  </div>
                  <div class="form-outline">
                    <label for="" class="textarea-lable">Area</label>
                    <textarea name="emp_p_area" class="form-control" id="emp_p_area" cols="10" rows="2"></textarea>
                  </div>
                  <div class="form-items">
                    <label for="">Pincode</label>
                    <input type="text" name="emp_p_pin" id="emp_p_pin" class="form-control" placeholder="" />
                  </div>
                  <div class="button-section">
                    <button class="btn btn-primary" onclick="validateForm(event)">Submit</button>
                    <a href="master_header_link" class="btn btn-dark cancel">Cancel</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
</body>

</html>