
body{
  font-size: 16px;
}
.table-responsive {
    overflow-x: auto;
    font-size: 16px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  th,
  td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;
  }
  
  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  tbody tr:hover {
    background-color: #f9f9f9;
    transition: background-color 0.2s ease;
  }
  
  .custom-icon a {
    margin-right: 5px;
    color: #333;
    text-decoration: none;
  }
  
  .custom-icon a:hover {
    color: #007bff;
  }
  
  .fas {
    font-size: 18px;
  }
